.produtos{
    padding: 0 !important;
    margin: 0 !important;
}
.__prodClicadoContainer{
    display: flex;
    flex-direction: column;    
}

.__imgProd img{
    width: 100vw;
    max-height: 250px;
}

.__produtoSimilares {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.__infoProd{
    padding: 1rem;
}

.__tituloProd{
    color: var(--preto-100);
    font-weight: 500;
    font-size: 1rem;
}

.__valorProd{
    color: var(--preto-100);
    font-weight: 700;
    font-size: 1.1rem;
}

.__descriProd{
    color: var(--preto-100);
    font-weight: 400;
    font-size: 0.9rem;

}

.__produtosSimilares-titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: var(--textoMaior);
    font-weight: 600;
    line-height: 1rem;
    color: var(--preto-100);
}

.--voltarBtn{
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--azul-100);
}

@media screen and (min-width: 769px) {
    .__prodClicadoContainer{
        flex-direction: row;
        align-items: center;
        justify-items: first baseline;
    }

    .__imgProd img{
        max-width: 350px;
        max-height: 250px;
    }
}