.__formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: stretch;
}

.__formTitulo {
    font-size: 1rem;
    font-weight: 700;
    color: var(--preto-100);
    margin-bottom: 0;
}

.__formNome {
    border-radius: 5px;
    padding-top: 2rem;
    border: none;
}


.__input-label {
    display: flex;
}

.__input-label span {
    position: absolute;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: var(--preto-50);
    font-size: 0.75rem;
    font-weight: 400;
}

.__input-label input {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    color: var(--preto-100);
    font-size: 1rem;
    font-weight: 400;
}

.__formMensagem {
    border-radius: 5px;
    padding: 1rem 0 0 1rem;
    border: none;
    resize: none;
    height: 5rem;
    color: var(--preto-50);
    font-size: 1rem;
    font-weight: 400;
}

.__enviarMsgBtn {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    width: fit-content;
    background-color: var(--azul-100);
    color: var(--branco);
    font-weight: 600;
    font-size: 0.90rem;

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .__formulario {
        align-self: stretch;
        width: 100%;
    }
}

@media screen and (min-width: 1025px){
    .__formulario{
    flex-grow: 1;
    }
}

